
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat+Alternates:wght@400;500;600&display=swap');
@import './vars';
@import './mixin';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: $body-font;
  font-size: $normal-font-size;
}

body {
  @include theme_Colors($body-color,$white-color);
}
input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: $white-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

}


.container{
  margin: 0 auto;
  padding:0 15px;

  @media(min-width:768px){

    width: 720px;
  }
  @media(min-width:992px){

    width: 960px;
  }
  @media(min-width:1200px){

    width: 1140px;
  }
}


main{
  padding: $space-medium 0px 0px;
}


small{
  padding-left: 20px;
    color: $first-color;
    font-size: $small-font-size;
}
