

 /*========== Colors ==========*/

$hue: 358;
$first-color: hsl($hue, 80%, 49%);
$first-color-alt: hsl($hue, 76%, 45%);
$white-color: hsl(0, 0%, 98%);
$black-color: hsl(0, 0%, 1%);
$text-color: hsl($hue, 2%, 66%);
$body-color: hsl($hue, 100%, 1%);
$container-color: hsl($hue, 2%, 10%);
$conic-gradient: conic-gradient(from 150deg at 50% 45%,
                hsl($hue, 80%, 20%) 0deg,
                hsl($hue, 80%, 48%) 140deg,
                hsl($hue, 80%, 20%) 360deg);

  /*========== Font and typography ==========*/

  $biggest-font-size: 2.5rem;
  $h1-font-size: 1.5rem;
  $h2-font-size: 1.25rem;
  $h3-font-size: 1rem;
  $normal-font-size: .938rem;
  $small-font-size: .813rem;
  $smaller-font-size: .75rem;
  $body-font: "Cairo",serif;
  $second-font:'Montserrat Alternates',cursive;


  // Font_Weight
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;

// Radius
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;
$border-radius-xlarge: 40px;


/*========== z index ==========*/
  $z-tooltip: 10;
  $z-fixed: 100;



// opacity

$opacity-light: 0.1;   /* شفافية خفيفة */
$opacity-medium: 0.5;  /* شفافية متوسطة */
$opacity-dark: 0.8;

// margin

$space-small: 8px;     /* مسافة صغيرة */
$space-medium: 16px;   /* مسافة متوسطة */
$space-large: 32px;    /* مسافة كبيرة */
$space-xlarge: 48px;

// transition
$transition-fast: 0.2s ease;
$transition-medium: 0.5s ease;
$transition-slow: 1s ease;
