<main>
  <h2>EXPERIENCE OR WORK</h2>

  <section class="items">

    <article class="box" data-aos="fade-right">
      <i class="ri-html5-line"></i>
      <h3>Html</h3>
      <p>I'm good at using new HTML5 themes like &lt;article&gt;** &lt;section&gt;** and **'&lt;header&gt;'** to improve page structure, making content more accessible and contributing to SEO (Search Engine Optimization).

        I also have experience integrating Media Queries into HTML to ensure that sites respond perfectly across different devices (mobile, tablet, laptop).</p>
    </article>


    <article class="box" data-aos="fade-up">
      <i class="ri-css3-line"></i>
      <h3>Css</h3>
      <p>My CSS experience extends to designing and coordinating beautiful and responsive user interfaces using modern CSS techniques such as Flexbox and CSS Grid. I can create consistent and seamless designs that make sites work well on all sizes and devices.

        I've optimized page design with CSS3, enabling me to use features like transitions and animations to add engaging visual effects and enhance the user experience. I also have experience in customizing fonts and colors, which contributes to improving the aesthetics and clarity of the site.

        I'm also proficient in techniques like Sass and Less to organize codes and make them more reusable and maintainable. I also use Media Queries to ensure a responsive design that adapts to different screens and devices."</p>

    </article>



    <article class="box" data-aos="fade-down">
      <i class="ri-javascript-line"></i>
      <h3>JavaScript</h3>
      <p>My experience in JavaScript extends to building interactive and dynamic web applications by working with DOM and adding advanced interactions on pages. I can use JavaScript ES6+ to implement modern and efficient code using Promises, Arrow Functions, and Destructuring, making the code clearer and easier to maintain.

        I've worked with real-time interactions like form validation, event handling, and optimizing page performance using asynchronous methods like AJAX and the Fetch API.

        I'm also fluent in dealing with user-oriented patterns (Event Handling) and manipulating data to create interactive web applications, and I've also used external libraries like jQuery and Axios to improve data management and external requests.</p>
    </article>


    <article class="box" data-aos="fade-left">
      <i class="ri-bootstrap-line"></i>
      <h3>BootStrap</h3>
      <p>My experience at Bootstrap extends to using this popular framework to build fast and engaging user interfaces. I am able to use Bootstrap 4 and Bootstrap 5 to build responsive designs across all devices thanks to the powerful Grid grid and ready-made designs provided by the framework.

        I've customized styles and ready-made components like buttons, drop-down menus, forms, and notifications to suit project needs, while ensuring site compatibility with mobile devices through the use of Bootstrap's built-in Media Queries.

        I'm experienced in improving the user experience with simple animations, colors, and responsive layouts using Bootstrap's built-in tools. I can also use the built-in JavaScript framework to create interactive components like modal, galleries and interactive navigation.</p>
    </article>

    <article class="box" data-aos="fade-right">
      <i class="ri-angularjs-line"></i>
      <h3>Angular</h3>
      <p>During my 4-month training period
        On the Angular framework, I gained hands-on experience in developing interactive and dynamic web applications. I learned the basics of working with Angular components, managing data using services, and linking data in efficient ways.

       I was also able to understand the Component Lifecycle and use routing to create single page applications (SPAs).

       I'm able to handle the consumption of APIs with HTTPClient, as well as improve performance and visual experience by integrating responsive design and animation.

       This training helped me enhance my skills in building powerful and easy-to-maintain applications using one of the most popular frameworks in web development</p>
    </article>



  </section>
</main>
