<nav>
  <ul>
    <li><a routerLink="home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" title="Home"><i class="ri-home-line"></i></a></li>
    <li><a routerLink="projects" [routerLinkActive]="'active'" title="Projects"><i class="ri-folder-line"></i></a></li>
    <li><a routerLink="services" [routerLinkActive]="'active'" title="Services"><i class="ri-file-edit-line"></i></a></li>
    <li><a routerLink="experience" [routerLinkActive]="'active'" title="Experience"><i class="ri-honour-line"></i></a></li>
    <li><a routerLink="contact" [routerLinkActive]="'active'" title="Contact"><i class="ri-send-plane-line"></i></a></li>
  </ul>
</nav>
