<div class="loading">

  <h2>
    The Code Canvas


  </h2>
  <span class="loader"></span>
</div>


<main>

<div class="parent_main">


  <div class="port_left_center">
    <div class="port_left" data-aos="fade-right">
      <div class="head">
        <div class="logo">
          <a href="#">The Code Canvas</a>
        </div>
        <div class="img">
          <img src="assets/leftres.png" alt="left">
        </div>
        <div class="desc">
          <p>For full professional details, you can upload my CV:</p>
          <a href="assets/cv.pdf" download>Download Cv</a>
        </div>
      </div>
      <div class="skills">
        <h3>Skills</h3>

        <div class="skills_img">
          <div class="items">
            <div class="box">
              <img src="assets/skills-html.svg" alt="svg">
              <img src="assets/skills-css.svg" alt="svg">
              <img src="assets/skills-javascript.svg" alt="svg">
              <img src="assets/skills-git.svg" alt="svg">
              <img src="assets/skills-github.svg" alt="svg">
              <img src="assets/skills-angular.png" alt="skills">
              <img src="assets/skills-bootstrap.png" alt="skills">
            </div>

          </div>
        </div>
        <p>Visit The Projects Section to See The Work Done With These Web Technologies</p>



      </div>

    </div>



    <div class="port_center" data-aos="fade-down" >
      <div class="img">
        <img src="assets/centerres.png" alt="center">
      </div>

      <div class="info">
        <svg style="width: 100%; height: 50px;">
          <text #text x="0" y="40" font-size="48"  stroke="black" stroke-width="2" stroke-dasharray="300" stroke-dashoffset="300">
            The Code Canvas
          </text>
        </svg>
        <div class="btns">
          <a routerLink="/projects">Projects</a>
          <a routerLink="/services">Services</a>
        </div>
      </div>
    </div>


  </div>

  <div class="port_right" data-aos="fade-right">
    <div class="info">
      <h2>The Code Canvas - FrontEnd Developer</h2>
      <p class="desc">passionate about developing great and engaging user experiences. Specializes in building dynamic user interfaces using the latest web technology. I always strive to provide innovative solutions and achieve the best performance and user experience.</p>
      <ul class="links">
        <a href="https://www.facebook.com/messages/t/100004391927645"><i class="ri-messenger-line"></i></a>
        <a href="https://wa.me/201026381737"><i class="ri-whatsapp-line"></i></a>
      </ul>
<div class="img">
  <img src="assets/rightres.png" alt="right">
</div>


      <p class="write_msg">
        He doesn't write messages on social networks,
send me an email and I'll answer you.
      </p>

      <a routerLink="/contact"  class="contactme">Contact Me</a>
    </div>
  </div>
</div>
</main>
