<main>
  <h2>RECENT PROJECTS</h2>


  <div class="items">
    <div class="box" data-aos="fade-right">
      <div class="img_main">
        <img src="assets/pic-5.png" class="mainimg" alt="Img_box">
      </div>
      <div class="info">
        <h3>Coffee Website</h3>
        <p>Short description of the project that
          was carried out in this portfolio.</p>
        <div class="img">
          <img src="assets/skills-html.svg" alt="skill">
          <img src="assets/skills-css.svg" alt="skill">
          <img src="assets/skills-javascript.svg" alt="skill">
        </div>

        <a href="#">
          <i class="ri-links-line"></i>
          Visit Project
        </a>


      </div>
    </div>



    <div class="box" data-aos="fade-down">
      <div class="img_main">
        <img src="assets/pic-5.png" class="mainimg" alt="Img_box">
      </div>
      <div class="info">
        <h3>Coffee Website</h3>
        <p>Short description of the project that
          was carried out in this portfolio.</p>
        <div class="img">
          <img src="assets/skills-html.svg" alt="skill">
          <img src="assets/skills-css.svg" alt="skill">
          <img src="assets/skills-javascript.svg" alt="skill">
        </div>

        <a href="#">
          <i class="ri-links-line"></i>
          Visit Project
        </a>


      </div>
    </div>




    <div class="box" data-aos="fade-down">
      <div class="img_main">
        <img src="assets/pic-5.png" class="mainimg" alt="Img_box">
      </div>
      <div class="info">
        <h3>Coffee Website</h3>
        <p>Short description of the project that
          was carried out in this portfolio.</p>
        <div class="img">
          <img src="assets/skills-html.svg" alt="skill">
          <img src="assets/skills-css.svg" alt="skill">
          <img src="assets/skills-javascript.svg" alt="skill">
        </div>

        <a href="#">
          <i class="ri-links-line"></i>
          Visit Project
        </a>


      </div>
    </div>



    <div class="box" data-aos="fade-left">
      <div class="img_main">
        <img src="assets/pic-5.png" class="mainimg" alt="Img_box">
      </div>

      <div class="info">
        <h3>Coffee Website</h3>
        <p>Short description of the project that
          was carried out in this portfolio.</p>
        <div class="img">
          <img src="assets/skills-html.svg" alt="skill">
          <img src="assets/skills-css.svg" alt="skill">
          <img src="assets/skills-javascript.svg" alt="skill">
        </div>

        <a href="#">
          <i class="ri-links-line"></i>
          Visit Project
        </a>


      </div>
    </div>


    <div class="box" data-aos="fade-right">

      <div class="img_main">
        <img src="assets/pic-5.png" class="mainimg" alt="Img_box">
      </div>


      <div class="info">
        <h3>Coffee Website</h3>
        <p>Short description of the project that
          was carried out in this portfolio.</p>
        <div class="img">
          <img src="assets/skills-html.svg" alt="skill">
          <img src="assets/skills-css.svg" alt="skill">
          <img src="assets/skills-javascript.svg" alt="skill">
        </div>

        <a href="#">
          <i class="ri-links-line"></i>
          Visit Project
        </a>


      </div>
    </div>


  </div>

</main>
