<footer>
  <h2  >The Code Canvas</h2>
  <ul class="links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/projects">Project</a></li>
    <li><a routerLink="/services">Services</a></li>
  </ul>

  <ul class="icons">
    <li ><a href="https://www.facebook.com/profile.php?id=100004391927645"    target="_blank"><i class="ri-facebook-line"></i></a></li>
    <li ><a href="https://wa.me" target="_blank"><i class="ri-whatsapp-line"></i></a></li>
  </ul>


  <p>This website is developed and designed by <strong>Sherif Yehia</strong>. All Rights Reserved © 2024</p>
</footer>

